{% extends 'app/base_tienda.html' %}
{% load static %}
{% load crispy_forms_tags %}
<div class="col-lm-2  bg-rojo-clarito">

{% block Contenido_Tienda %}




    <table class="table table-stripped table-condensed">
    <thead>  
        <tr>
            <th>NOMBRE DE USUARIO</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>FECHA INGRESO</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
        {% for aux in listaUsuario %}
      <!--{% if aux.tipo.tipo == 'Nombre de la wea' %} {% endif %}  es como para filtrar.-->  
           
        <tr>
            <td>{{ aux.username}}</td>
            <td>{{ aux.name }}</td>
            <td>{{ aux.email }}</td>
            <td>{{ aux.date_joined }}</td>
            <td>
                <a href="{% url 'modificacion_usuarios' aux.username %}" class="btn btn-info">Modificar</a>
                
                    
                <a href="{% url 'eliminar_usuario' aux.username %}" class="btn btn-danger">Eliminar</a>
                

                <!-- Button to Open the Modal -->
                
                
            
            </td>

        </tr>
    {% endfor %}
    
   </tbody>
   
</table>  

{% endblock Contenido_Tienda %}
 


</div>

