{% extends 'app/base_miscompras.html' %}
{% load static %}
{%block ContenidoMisCompras %}
<div class="col-sm-10">
  <div class="row">
    <div class="col-sm-4  ">
      
    </div>
    <div class="col-sm-4">
      <div class="card mt-4" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'app/img/kisspng-face-sadness-smiley-computer-icons-clip-art-sad-5ac17cc2cdea11.7742151115226298268434.png' %}"  alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title text-center">Lo sentimos, no tienes productos en el carrito :(</i></h5>
          </div>
      </div>
    </div>
    <div class="col-sm-4 mt-3 ">


     </div>
  </div>


    </div>
{%endblock ContenidoMisCompras%}